.navbar {
  color: var(--text);
  display: flex;
  align-items: center;
  padding: 20px 0 15px;
  background: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  @media (max-width: '800px') {
    padding: 20px 30px;
  }

  .hamButton {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;

    .hamLine {
      height: 3px;
      background: var(--text);
      width: 25px;
      margin-bottom: 5px;
      transform-origin: center;

      &:last-child {
        margin: 0;
      }
    }
  }

  .closeState {
    .hamLine:first-child {
      animation-name: rotate-clockwise;
      animation-duration: 0.2s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;

      @keyframes rotate-clockwise {
        100% {
          transform: rotate(45deg) translateX(5.5px);
        }
      }
    }

    .hamLine:nth-child(2) {
      display: none;
    }

    .hamLine:last-child {
      animation-name: rotate-anti-clockwise;
      animation-duration: 0.2s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;

      @keyframes rotate-anti-clockwise {
        100% {
          transform: rotate(-45deg) translateX(5.5px);
        }
      }
    }
  }

  .openState {
    .hamLine:first-child {
      animation-name: rotate-back-anti-clockwise;
      animation-duration: 0.2s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;

      @keyframes rotate-back-anti-clockwise {
        0% {
          transform: rotate(45deg) translateX(5px);
        }
      }
    }

    .hamLine:nth-child(2) {
      display: block;
    }

    .hamLine:last-child {
      animation-name: rotate-back-clockwise;
      animation-duration: 0.2s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;

      @keyframes rotate-back-clockwise {
        0% {
          transform: rotate(-45deg) translateX(5px);
        }
      }
    }
  }

  .hamMenu {
    position: fixed;
    background-color: var(--background);
    height: 100vh;
    left: 0;
    padding: 0 30px;
    top: 70px;
    width: 100%;
    overflow: scroll;
    overscroll-behavior: contain;
  }

  .openAnimation {
    transform: translateX(-100%);
    opacity: 0;
    animation: fade-in-left 0.3s ease-in-out forwards;

    @keyframes fade-in-left {
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .navHeading {
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;

    @media (max-width: '800px') {
      font-size: 26px;
    }
  }

  .navItems {
    margin-left: auto;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;

    * {
      cursor: pointer;
    }

    & > li {
      font-family: Nunito;
      font-size: 18px;
      padding: 10px;
      text-align: center;
      font-weight: 600;
      transition: all 0.15s ease-in-out;

      @media (max-width: '800px') {
        padding: 10px 0;
      }

      &:hover {
        color: var(--primary);
        transform: translateY(-3px);
      }
    }

    img {
      filter: invert(1);
      height: 30px;
      width: 30px;
      margin-left: 10px;
    }

    @media (max-width: '800px') {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .active {
    color: var(--primary);
    font-weight: 700;
  }
}
